<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-pruebacordova" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>pruebacordova</name>
    <js-module name="pruebacordova" src="www/pruebacordova.js">
        <clobbers target="pruebacordova" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="pruebacordova">
                <param name="android-package" value="cordova.pluginpruebacordova.pruebacordova" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/pruebacordova.java" target-dir="src/cordova/plugin-pruebacordova/pruebacordova" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="pruebacordova">
                <param name="ios-package" value="pruebacordova" />
            </feature>
        </config-file>
        <source-file src="src/ios/pruebacordova.m" />
    </platform>
</plugin>